
tl/english/Chapters/Umi 0 Chapter 0_0.rpy
tl/english/Chapters/Umi 0 Chapter 0_0.rpyc
tl/english/common.rpy
tl/english/common.rpyc
tl/english/options.rpy
tl/english/options.rpyc
tl/english/screens.rpy
tl/english/screens.rpyc
tl/None/common.rpym
tl/None/common.rpymc
videos/Butterfly away mask.webm
videos/Butterfly away.webm
videos/Butterfly mask.webm
videos/Butterfly.webm
videos/lrain.webmhd.webm
videos/mmani.webm
videos/opening mobile.webm
videos/opening.webm
videos/rain1-white.webmhd.webm
videos/rain1.webmhd.webm
videos/rain1_mask.webm
videos/rain2.webmhd.webm
videos/single butterfly mask.webm
videos/single butterfly.webm
videos/startgame_shatter.webm
*.mov
*.save
*.json
saves/persistent
gui/chessmenu/portraits.psd
game/cache/shaders.txt
*.rpyb
*.rpyc
*.txt
